<div class="col-md-4">
  <select id="accountSelected" name="accountSelected" class="selectionList">
    <option value="opt1">Account Name 1</option>
    <option value="opt2">Account Name 2</option>
    <option value="opt3">Account Name 3</option>
  </select>
  <br>
  <select id="oppSelected" name="oppSelected" size=25 class="selectionList">
    <option value="opp11">Opportunity 1</option>
    <option value="opp12">Opportunity 2</option>
    <option value="opp13">Opportunity 3</option>
    <option value="opp14">Opportunity 41</option>
    <option value="opp15">Opportunity 51</option>
    <option value="opp16">Opportunity 61</option>
    <option value="opp17">Opportunity 71</option>
    <option value="opp18">Opportunity 81</option>
    <option value="opp19">Opportunity 91</option>
    <option value="opp10">Opportunity 10</option>
  </select>
</div>
